@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

*{
    font-family: "Poppins";
}

body{
    font-size: 14px;
    background-color: rgb(255, 212, 247);
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-around;
}

.eritrograma, .leucograma, .plaquetas{
    height: 100%;
    border-radius: 4px;
    padding: 10px;
    width: 300px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.197);
}

button{
    display: block;
    margin: 7px auto;
}

label{
    font-size: 13px;
}

#res-hemo{
    margin-top: 7px;
}

@media only screen and (max-width: 1050px) {

 .container{
 display: block;
 }

 .eritrograma, .leucograma, .plaquetas{
  margin:0 auto;
  margin-bottom: 15px;
 }

}